.result-section{
  margin-top: 1.5rem;
  background-color: #eee;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  width: 100%
}

.result-box.correct h3{
  color: green
}

.result-box.incorrect h3{
  color: red
}
/* 
section *{
  box-sizing:border-box;
} */